.map-container {
  position: relative;
}

.floating-text {
  position: absolute;
  top: 20px; /* Ajusta la posición vertical según tus necesidades */
  right: 50px; /* Ajusta la posición horizontal según tus necesidades */
  z-index: 1; /* Asegura que el texto se superponga al mapa */
}
img{
  width: 40px;
  height: 40px;
}
p{
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255); /* Cambia el color según tus necesidades */
    font-family: Arial, sans-serif; /* Cambia la fuente según tus necesidades */
}
input.login{
  width: 40px;
}
input.eye{
  width: 30px;
}
ion-button{
  padding-left: 10px;
}
span{
  margin-top: 10px;
}
.json{
  margin-top: 10px;
}
pre{
  display: flex;
  color: rgb(255, 255, 255); /* Cambia el color según tus necesidades */
  font-family: Arial, sans-serif; /* Cambia la fuente según tus necesidades */
}
.cardText{

  display: flex;
  justify-content: space-around;
}
.floating-textbox {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 50px;
  margin-bottom: 10px;

}
