
<ion-header [translucent]="true">
  <ion-toolbar class="dgt">
  </ion-toolbar>

  <ion-toolbar class="gov">
    <input type="image" class="image" alt="Login" src="./../../assets/icon/govEsp.png">
    <span>Conjunto de Datos</span>
    <span>Organizaciones</span>
    <span>Acerca de</span>
    <ion-button color="light" routerLink="/map">Ir al mapa</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <input type="image" class="menuIMG" alt="Login" src="./../../assets/icon/menu.png">
</ion-content>
